.light {
  background-color: white;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
}
.dark {
  background-color: black;
  width: 100vw;
  height: 100vh;
  color: white;

  transition: 0.5s;
}

.logo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.external1 {
  width: 90px;
  height: 30px;
  background-color: #333333;
  border-radius: 20px;
  padding: 2px;
}

.external2 {
  width: 90px;
  height: 30px;
  background-color: #333333;
  border-radius: 20px;
  padding: 2px;
}

.internal1 {
  width: 45px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  transform: rotateX(0%);
  transition: 0.5s;
}
.internal2 {
  width: 45px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  transform: translate(100%);
  transition: 0.5s;
}
p {
  position: relative;
  position: absolute;
  left: 675;
  font-size: 15px;
  color: black;
}
